* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

#root {
  height: 100vh;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
}

.header__title {
  color: #1a1a1a;
  font-size: 3.2rem;
  text-align: center;
}

.board {
  width: 100%;
  max-width: 32rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.board__row {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  gap: 0.8rem;
}

.board__column {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d6da;
  aspect-ratio: 1;
  text-transform: uppercase;
  font-size: 3.2rem;
  color: #1a1a1a;
  transition: all 100ms ease-in-out;
}

.board__column--correct {
  background-color: #6aaa64;
  color: #f5f5f5;
}

.board__column--present {
  background-color: #c9b458;
  color: #f5f5f5;
}

.board__column--absent {
  background-color: #787c7e;
  color: #f5f5f5;
}

.keyboard {
  width: 100%;
  max-width: 60rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.keyboard__row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.keyboard__key {
  height: 4rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.8rem;
  background-color: #d3d6da;
  font-size: 1.2rem;
  color: #1a1a1a;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-in-out;
}

.keyboard__key--correct {
  background-color: #6aaa64;
  color: #f5f5f5;
}

.keyboard__key--present {
  background-color: #c9b458;
  color: #f5f5f5;
}

.keyboard__key--absent {
  background-color: #787c7e;
  color: #f5f5f5;
}

.keyboard__special {
  height: 4rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.8rem;
  background-color: #d3d6da;
  font-size: 1.2rem;
  color: #1a1a1a;
  display: flex;
  flex: 1.5;
  align-items: center;
  justify-content: center;
}

.keyboard__spacer {
  flex: 0.5;
}
